.hero{
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.hero-image{
   position: relative;
   display: flex;
   width: 100%;
}

.hero-copy {
    text-align: center;
    color: white;
}

.background{
flex: 1;
height: 100%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.background.left {
    background-image: url('/images/final-frontier_large.jpg');
}

.background.right {
    background-image: url('/images/luna_medium.jpg');

}

